h1{
text-align: center;
font-size: 18pt;
}
body{
text-align: justify;
font-family: 'Times New Roman', Times, serif;
background-color: #cccccc;
}
img{border: solid black 3px;
   padding: 10px; 

    
}